html {
  scroll-behavior: smooth;
}

.header-bar > .container,
.toolbar > .container {
  display: flex;
  align-items: center;
  height: 100%;
}

label.checkbox {
  user-select: none;
  display: block;
  font-size: 1.1rem;
  padding: 0.1rem 0;
}

.input:active,
.input:focus,
.is-active.input,
.is-focused.input {
  border-color: #f37735 !important;
  box-shadow: 0 0 0 0.125em rgba(243, 119, 53, 0.25) !important;
}

.button:focus {
  border-color: #f37735 !important;
}

.button:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(243, 119, 53, 0.25) !important;
}

a.is-link:not(:hover) {
  color: #3273dc !important;
}

a.is-link.is-danger:not(:hover) {
  color: #ff3860 !important;
}

input::placeholder {
  font-family: "Sarabun", sans-serif;
  transition: padding-left 0.3s;
}

input:focus::placeholder {
  padding-left: 0.5ch;
}

.b-table.hoverable > .table-wrapper > .table > thead > tr > th:hover {
  cursor: pointer;
}

.b-table.hoverable > .table-wrapper > .table > tbody > tr.has-link:hover,
.b-table.hoverable > .table-wrapper > .table > tfoot > tr:hover > th > .hoverable {
  background-color: #fff6a8 !important;
  cursor: pointer;
}

.b-table.hoverable > .table-wrapper > .table > thead > tr > th:hover > .th-wrap {
  text-decoration: underline dotted;
}

.b-table.hoverable > .table-wrapper > .table > tfoot > tr > th {
  padding: 0;
}

.spacer {
  margin-top: 1.25rem !important;
}
